        * {
            margin: 0px;
            padding: 0px;
        }
        /* codigo do body geral*/
        body {
            background-color: #D3DCE3 ;
        }
        .section-index{
            margin-top: 60px;
            text-align: center;

        }
        .ra{
            text-align: center;
            width: 50px;
        }
        .editar-sexo{
            position: relative;
            left: 200px;
        }
        select,input{
            border-radius: 5px;
            height: 30px;
        }
        .section{
            margin-top: 60px;
        }
        .div-index {
            width: 630px;
            height:550px;
            border-radius: 10px;
            position: relative;
            left: 380px;
        }
        .dados_aluno{
            display: flex;
        }
        .foto{
            width: 200px;
            height: 200px;
            border: 1px solid black;
            margin-right:50px;
        }

        /* codigo tela index*/
       .btn_sair{
        background-color: red;
       }
        .btn-cadastra,.btn-consulta{
            background-color: #F26522;
            font-size: 30px;
            border-radius: 10px;
            margin-top: 100px;
            width: 200px;
            height: 50px;
        }
        .a-cadastra{
            margin-right: 100px;
        }
        .a-consulta{
            margin-left: 50px; 
        }
        /* codigo do formulário editar produto*/
        .formulario-editar-produto{
           width: 630px;
            height:550px;
            position: relative;
            left: 280px;
            padding: 10px 60px 60px 60px;
            margin-top: 30px;
            border: 2px solid #F26522;
            font-size: 20px;
        }
        
        .btn-salva-editar{
            background-color: #4DC147;
            font-size: 20px;
            border-radius: 10px;
            margin-top: 20px;
            width: 200px;
            height: 50px;
            float: right;
        }
        .btn-volta-editar{
            background-color: #F26522;
            font-size: 20px;
            border-radius: 10px;
            margin-top: 20px;
            width: 200px;
            height: 50px;
        }
        /* codigo do formulário cadastro de produto*/
        .formulario-cadastro-produto{
            width: 630px;
            height:550px;
            position: relative;
            left: 280px;
            padding: 10px 60px 60px 60px;
            margin-top: 30px;
            border: 2px solid #F26522;
            font-size: 20px;

        }
        h1{
            font-size: 30px;
            margin-top: -50px;
            text-align: center;
        }
        .p-formulario{
            padding-bottom: 30px;
            font-size: 20px;
            text-align: center;
        }
        .btn-salva-cadastro{
            width: 200px;
            height: 50px;
            font-size: 20px;
            background-color: #4DC147;
            border-radius: 10px;
            margin-top: 20px;
            float: right;
        }
        .btn-volta-cadastro{
            width: 200px;
            height: 50px;
            font-size: 20px;
            background-color: #F26522;
            border-radius: 10px;
           
           
            
        }
        /* codigo da tabela listar*/
        table {
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
            font-size:20px;
            
        }
        .titulo-tabela{
            color: black;
            border: 1px solid blue;
        }
        td{
            padding: 10px;
            border:1px solid black;
        }
        .btn-tabela{
            margin: 20px;
            color:#4DC147;
        }
        .btn-tabela-excluir{
              margin: 20px;
           color: #5b3d3d;
        }
        .btn-volta-lista{
            background-color: #F26522;
            font-size: 25px;
            border-radius: 10px;
        }
        /* codigo da tabela listar- titulo*/
        .consulta {
           
            width: 800px;
            height: 60px;
            position: relative;
            left: 300px;
            margin-top: 20px;
            
        }
        .titulo-lista-produto{
            font-size: 30px;
        }